
//测试：newSass.scss 文件被另一个scss文件导入时，会不会自动编译相对应得scss.css文件,会被自动编译
span{
    background: #fe0000;
}


//运算的规则
$num: 100px;
p{
    width: $num * 2;

    //sass中单位不同的话，不可以运算
   // height: $num + 10em;

    // 默认 / 时分隔操作
    font: 20px / 1.5;

    //  / 想要除法的功能，需要使用小括号
    font: (20px / 1.5)
}