
//测试：newSass.scss 文件被另一个scss文件导入时，会不会自动编译相对应得scss.css文件,会被自动编译
span{
    background: #fe0000;
}


//运算的规则
$num: 100px;
p{
    width: $num * 2;

    //sass中单位不同的话，不可以运算
   // height: $num + 10em;

    // 默认 /  是分隔操作
    font: 20px / 1.5;

    //  / 想要除法的功能，需要使用小括号
    font: (20px / 1.5)
}

/*sass除了内置函数，还可以自定义函数
    @function 函数名(){

        @return
    }

    函数和js用法大致相同
*/

@function sum($n){

    @if($n == 1){
        @return 1;
    }@else{
        @return sum($n - 1)+$n;
    }

}
p{
    content: sum(100);
}

/*
sass 循环操作
@for $i from start through end{

}
*/
$sum : 0;
@for $i from 0 through 5{
    $sum : $sum + $i;
}
p{
    width: $sum;
}



