
/*媒体查询*/
html{font-size: 100%;}
@media (min-width:640px){body{font-size:1rem;}}
@media (min-width:960px){body{font-size:1.2rem;}}
@media (min-width:1200px){body{font-size:1.5rem;}}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
header{
    width: 1040px;
    min-width: 1040px;
    height: 120px;
    margin: 0 auto;
    background: url("../image/致美.jpg")  no-repeat;
    position: relative;


}
header>a{
    width: 180px;
    height: 45px;
    margin-right: 0;
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    text-align: center;
    line-height: 45px;
    background: #2d3236 url("../image/时钟.png") no-repeat left 11px top 10px;
    background-size: 27px;
    color: #ffffff;
    margin-right: 20px;
    transition: background-color 0.5s linear;
}
header>a:hover{
    background-color: #fe0000;
}
header ul{
    display: inline-flex;
    position: absolute;
    right: 0;
    bottom: 19px;
}
header ul li{
    font-size: 14px;
    padding: 0 25px;
    border-right: 1px solid #000000;
}
header ul li>a{
    color: #666666;
}
header ul li:nth-child(1){
    padding-left: 0;
}
header ul li:first-child a{
    color: #000000;
}
header ul li:nth-child(6){
    border-right: none;
    padding-right: 20px;
}

#ad{
    position: relative;
    height: 400px;
    display: flex;
    align-items: center;
    min-width: 1040px;
    min-height: 400px;
}

#ad .img_box img{
    width: 100%;
    display: block;
    min-height: 400px;

}
#ad .img_box{
    width: 100%;
    height: 400px;
    position: absolute;
    overflow: hidden;


}

#ad .btn_box{
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;


}
#ad .btn_box a{
    display: block;
    width: 60px;
    height: 60px;
    border: 1px solid;
    margin: 0 50px;
    background-color: rgba(0,0,0,0.2);
    color: #ffffff;
    line-height: 50px;
    border-radius: 5px;
    text-align: center;
    font-size: 50px;
    transition: background-color 0.5s linear;
}
#ad .btn_box a:hover{
    background-color: rgba(0,0,0,0.7);
}

#link{
    width: 1040px;
    height: 260px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
#link>img{
    width: 134px;
    height: 134px;
    display: block;
}


#case{
    width: 100%;
    height: 610px;
    background: #dbdbdb;
    min-width: 1040px;
}

#case_content{
    width: 1040px;
    height: 100%;
    margin: 0 auto;
}
.case_one{
    overflow: hidden;
}
.case_one p:nth-child(1){
    text-align: center;
    font-size: 30px;
    margin-top: 65px;
    color: #fe0000;
    font-weight: bold;
}
.case_one p:nth-child(2){
    color: #666666;
    text-align: center;
}
.case_one p:nth-child(2) span{
    color: #000000;
}
#case #case_content .case_two div>a:hover{
    background: #fe0000;
}

#case_content .case_two div>img{
    width: 195px;
    height: 249px;
    display: block;
}

#case_content .case_two div>a{
    width: 165px;
    height: 77px;
    display: block;
    color: #ffffff;
    line-height: 77px;
    background: #2d3236;
    padding-left: 30px;
    font-size: 16px;
}
#case_content .case_two div:nth-child(2) a,#case_content .case_two div:nth-child(5) a{
    background: #ff0000;
}


#case_content div:nth-child(1){
    width: 100%;
    height: 204px;
}

#case_content .case_two div{
    width: 195px;
    height: 326px;
}
#case_content .case_two{
    width: 100%;
    height: 406px;
    display: flex;
    justify-content: space-between;
}

#about_back{
    width: 100%;
    height: 516px;
    background: #f2f2f2;
    min-width: 1040px;
}
#about_back #about{
    width: 1040px;
    height: 516px;
    margin: 0 auto;

}


#about .about_one{
    height: 198px;
    overflow: hidden;

}
#about .about_one p:nth-child(1){
     font-size: 30px;
     color: #2d3236;
     text-align: center;
     margin-top: 65px;

}

#about .about_one p:nth-child(1) span{
    color: #fe0000;
}

#about .about_one p:nth-child(2){
    color: #666666;
    text-align: center;
    font-size: 16px;
}
#about .about_one p:nth-child(2) span:nth-child(1){
    font-weight: bold;
}
#about .about_one p:nth-child(2) span:nth-child(2){
    font-size: 14px;
}

#about .about_two{
    height: 318px;
    display: flex;
}
.about_two div:nth-child(1){
    width: 1040px;
    background: url("../image/zhimei.jpg") right bottom no-repeat;
}
.about_two div p{
    text-align: center;
    margin-top: 60px;
    font-size: 18px;
    color: #000000;
}
.about_two div p>span{
    font-weight: bold;
}


#service{
    height: 307px;
    min-width: 1040px;
}
#service p{
    text-align: center;
    font-size: 30px;
    margin-top: 65px;
}
#service p span:nth-child(1){
    color: #2d3236;
}
#service p span:nth-child(2){
    color: #fe0000;
    font-weight: bold;
}
#service ul{
    display: flex;
    justify-content: center;
    margin-top: 70px;
}
#service ul li{
   color:  #666666;
    padding-left:30px;
}
#service ul li:nth-child(1){
    background: url("../image/Call-h.png") no-repeat;
    background-size: 26px;
}
#service ul li:nth-child(3){
    background: url("../image/money.png") no-repeat;
    background-size: 26px;
}
#service ul li:nth-child(5){
    background: url("../image/gongju.png") no-repeat;
    background-size: 26px;
}
#service ul li:nth-child(7){
    background: url("../image/wancheng.png") no-repeat;
    background-size: 26px;
}
#service ul li:nth-child(even){
    color: #fe0000;
    padding-left: 0;
    margin: 0  10px;
}
#service .qq{
    color: #fe0000;
    transition: background-color 0.5s linear;
}
#service .qq:hover{
    background-color: #666666;
}
footer{
    background: #2d3236;
    height: 200px;
    overflow: hidden;
    min-width: 1040px;
}
footer p{
    text-align: center;
    color: #666666;
    font-size: 14px;
    line-height: 320px;
}
